.advantages-main {
  padding: 32px 18px 32px 18px;
  @media (min-width: @tablet-width) {
    padding: 47px 124px 55px 124px;
  }
}
.advantages-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.advantages-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
