.advantages-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.advantages-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.advantages-item__title  {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
}
.advantages-item__number{
  margin-bottom: 17px;
}
.advantages-item--blue{
  background-color: #81B3D2;
  color: #FFFFFF;
  padding: 54px 18px 40px 18px;
}
.advantages-item--grey{
  padding: 24px 26px;
  background-color: #EEEEEE;
  ;
}
