.advice-item {
  list-style-type: none;
  text-align: left;
  padding: 25px 18px 25px 65px;
}
.advice-item__title{
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.advice-item__description{
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
