.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 13px;

  &:hover {
    color: @background-color;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__icon {
  &:hover {
    fill: @background-color;
  }

  &:focus {
    fill: @background-color;
  }

  &:active {
    fill: #b3b3b3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-right: 15px;
  }
}
