.form-button {
  font-family: @font;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color;
  background-color: @background-color;
  padding: 16px 48px;
  border: none;
}

@media (min-width: @tablet-width) {
  .form-button__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form-button__container {
    margin-left: 216px;
    margin-right: 216px;
    padding: 0;
  }
}
