.fotos-container__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.fotos-container__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .fotos-container {
    padding: 46px 155px 67px 155px;
  }

  .fotos-container__description {
    margin: 0;
  }
}
