.hero-catalog {
  padding-top: 51px;
  padding-bottom: 64px;
}

@media (min-width: @tablet-width) {
  .hero-catalog {
    background-image: url("/img/tablet/hero-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% -228px;
    padding-top: 95px;
    padding-bottom: 113px;
  }

  .hero-catalog__image {
    width: 458px;
    height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .hero-catalog {
    background-image: url("/img/desktop/hero-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% -220px;
    padding-top: 101px;
  }

  .hero-catalog__image {
    width: 460px;
    height: 80px;
  }
}
