.hero-catalog {
  @media (min-width: @tablet-width) {
    background-image: url("/img/zip.svg"),
      url("/img/tablet/hero-background-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
  }
}
