@media (min-width: @tablet-width) {
  .impression {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 32px;
    justify-items: start;
  }
}

@media (min-width: @desktop-width) {
  .impression {
    grid-template-columns: repeat(3, 280px);
    gap: 28px;
    justify-items: center;
  }
}
