.input-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 25px;
  position: relative;
  min-height: 46px;
  display: flex;
  align-items: center;
}

.input-item:last-child {
  padding-bottom: 0;
}

.input-item__control {
  margin: 0;
}

.input-item__text {
  cursor: pointer;
  padding-left: 64px;
  display: flex;
  align-items: center;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .input-item {
    padding: 0;
  }
}

.input-item__control:checked + .control-mark--radio {
  background-image: url("/img/radio-mark.svg");
}

.input-item__control:checked + .control-mark--checkbox {
  background-image: url("/img/check-mark.svg");
}
