.introduce__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.introduce__item {
  list-style-type: none;
  margin: 0;
  text-align: left;
  margin-bottom: 9px;
}

.introduce__item:last-child {
  margin-bottom: 0;
}

.introduce::after {
  display: block;
  content: "";
  width: 1px;
  background-color: #d6d6d6;
  height: 338px;
  float: right;
  margin: -325px -30px 26px 0;
}

@media (max-width: @mobile-width-only) {
  .introduce::after {
    display: block;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 320px;
    margin-left: -20px;
    position: absolute;
    margin-top: 34px;
  }
}

@media (min-width: @tablet-width) {
  .introduce {
    margin-right: 59px;
  }
}

@media (min-width: @desktop-width) {
  .introduce {
    margin-right: 100px;
  }

  .introduce::after {
    margin-right: -53px;
  }
}
