.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  border: none;
  background-color: @font-color;
}

.main-nav__toggle-close {
  position: absolute;
  top: 17px;
  right: 18px;
  color: @font-color;
  border: none;
  background: @background-color;
}

.main-nav__wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__toggle-close {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
