.map {
  background: url("/img/mobile/map-point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @background-like;
  display: block;
}

@media (min-width: @tablet-width) {
  .map__images {
    width: 765px;
  }
}

@media (min-width: @desktop-width) {
  .map__images {
    width: 1200px;
  }
}
