.map {
  background: url("/img/mobile/map-point.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.map__images {
  @media (min-width: @tablet-width) {
    width: 765px;
  }
}
