.modal-button{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81B3D2;
  padding: 18px 0 14px 0;
  border: none;
  text-transform: uppercase;
}
.modal-button__fail{
  width: 180px;
}
.modal-button__success{
  width: 100%;
}
.modal-button__wraper{
  background: #F2F2F2;
  padding: 20px;
}
