.modal-button {
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color;
  background-color: @background-color;
  padding: 18px 0 14px 0;
  border: none;
  text-transform: uppercase;
}

.modal-button--fail {
  width: 180px;
}

.modal-button--success {
  width: 100%;
}

.modal-button__wraper {
  background: @background-input;
  padding: 20px;
}
