.review-desc {
  padding: 38px 20px 0 20px;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    color: @line;
  }
}

.review-desc__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.review-desc__description {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .review-desc__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .review-desc__description {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 444px;
  }

  .review-desc {
    padding: 64px 135px 108px 135px;
  }
}

@media (min-width: @desktop-width) {
  .review-desc {
    padding-top: 117px;
    padding-bottom: 68px;
  }

  .review-desc__title {
    margin-bottom: 32px;
  }
}

@media (max-width: @mobile-width-only) {
  .review-desc::after {
    display: block;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 320px;
    margin-top: 28px;
    margin-left: -20px;
  }
}
