.review-part {
  width: 280px;
  border: none;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
.review-part__check {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}
