.searching-form {
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching-form__wraper {
  margin: 0;
  padding: 38px 29px 32px 29px;
}

.searching-form__title {
  margin: 3px 0 19px 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.searching-form__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .searching-form__wraper {
    padding: 58px 166px 44px 166px;
  }

  .searching-form {
    padding-bottom: 56px;
  }

  .searching-form__button {
    width: 360px;
    margin: 0 auto;
  }

  .searching-form__title {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

@media (min-width: @desktop-width) {
  .searching-form__wraper {
    width: 453px;
    padding-top: 58px;
  }

  .searching-form {
    padding-bottom: 66px;
  }
}
