.searching-form{
  padding-bottom: 49px;
}
.searching-form__wraper{
margin: 0;
padding: 38px 29px 32px 29px;

}
.searching-form__title{
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.searching-form__description{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

