.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

.site-list__item::after {
  position: absolute;
  width: 320px;
  height: 7px;
  left: 0px;
  top: 216px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.site-list__item {
  background: @background-color;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
    inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  position: relative;
}

.site-list__link {
  text-decoration: none;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @font-color;
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    background-color: transparent;
    box-shadow: none;
    width: 153px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 153px;
  }

  .site-list__link {
    color: @text-color;
    font-size: 14px;
    line-height: 21px;
  }

  .site-list__link--active {
    color: @active-color;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    background-color: transparent;
    box-shadow: none;
    width: 240px;
  }

  .site-list__link {
    color: @text-color;
    font-size: 14px;
    line-height: 21px;
  }

  .site-list__link--active {
    color: @active-color;
  }
}
