.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social__item {
  height: 48px;
  width: 48px;
  list-style-type: none;
  background-color: @background-color;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: @background-color;
  color: #ffffff;

  &:hover {
    background-color: @hover-color;
  }

  &:active {
    background-color: @down-color;
    color: @down-color-icon;
  }
}

.social__item:not(:last-child) {
  margin-right: 5px;
}

.social__icon {
  align-self: center;
  fill: currentColor;

  & path {
    fill: currentColor;
  }
}
