.text-review {
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .text-review {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .text-review::before {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 123px;
    left: 60px;
    top: -41px;
  }

  .text-review::after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 123px;
    top: -41px;
    right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .text-review::before {
    width: 280px;
    left: 120px;
  }

  .text-review::after {
    width: 280px;
    right: 120px;
  }

  .text-review {
    margin-top: 13px;
  }
}
