.video-container {
  padding: 1px 22px 38px 22px;
}

@media (min-width: @tablet-width) {
  .video-container {
    padding: 38px 110px 89px 110px;
  }
}

@media (min-width: @desktop-width) {
  .video-container {
    padding: 43px 320px 88px 320px;
  }
}
