.video {
  padding: 17px 20px 0 20px;
}
.video__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
}
.video__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.video__images{
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
   }
}
